.calendar-box {
  width: 420px;
  display: inline-block;
  vertical-align: top;

  .calendar-header {
    font-size: 18px;
    margin-bottom: 20px;

    .anticon {
      cursor: pointer;

      &:hover {
        color: #1890ff;
      }
    }
  }

  .week-box {
    .date-box {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 60px;
      height: 60px;
      padding: 20px;
      padding-top: 15px;
      border: 2px solid transparent;
      border-radius: 5px;

      &.today {
        border: 2px dashed #1890ff;
      }

      &.selected {
        border: 2px solid #1890ff;
      }

      &.valued:hover {
        background: #e6f7ff;
      }
    }
  }
}
