.calendar-list {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-right: 0;
  padding-left: 100px;
  width: 750px;

  .calendar-list-item {
    width: 100%;
    padding: 5px;
    height: 40px;
    margin-top: 15px;

    .content {
      display: inline-block;
      width: calc(100% - 140px);
      vertical-align: top;
    }

    .hover-show {
      opacity: 0;
    }
    &:hover .hover-show {
      opacity: 1;
      vertical-align: top;
      margin-top: -5px;
    }

    .operation {
      vertical-align: top;
      display: inline-block;
      margin-left: 10px;
    }
  }

  .calendar-detail-time .ant-input-number {
    margin-right: 10px;
  }
}
