.calendar-list {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 20px 100px;
  width: 750px;

  .calendar-list-item {
    width: 90%;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
    transition: 0.3s;

    &:hover {
      background: #efe8ff;
    }

    .content {
      display: inline-block;
      width: calc(100% - 180px);
      vertical-align: top;
    }

    .hover-show {
      opacity: 0;
    }
    &:hover .hover-show {
      opacity: 1;
      vertical-align: top;
      margin-top: -5px;
    }

    .operation {
      vertical-align: top;
      display: inline-block;
      margin-left: 10px;
    }
  }

  .calendar-detail-time .ant-input-number {
    margin-right: 10px;
  }
}
