.login-page {
  width: 420px;
  margin: 0 auto;

  .loss-password {
    width: 180px;
    color: #1890ff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
  }
  .login-btn {
    width: 100px;
    margin-left: 20px;
  }
  .input-label {
    display: inline-block;
    width: 120px;
    padding-right: 20px;
    text-align: right;
  }
}
