.article-edit {
  i {
    font-size: 20px;
    margin-left: 10px;
  }
  .title-input {
    width: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .article-icon {
    font-size: 20px;
    color: #666;
    margin-left: 10px;
    cursor: pointer;
  }
}

.article-content {
  word-break: break-all;
}

.article-detail {
  .article-title {
    display: inline-block;
    max-width: 500px;
    overflow-x: hidden;
    vertical-align: top;
    margin-right: 30px;
  }
  .article-info {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
  }
  .article-content-box {
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin: 20px 0;
    min-height: 450px;
    overflow: hidden;

    a {
      color: #1890ff;
    }

    p {
      min-height: 20px;
      white-space: pre-wrap;
    }

    .image-wrap {
      vertical-align: top;

      img {
        margin: 10px;
      }
    }

    //pre {
    //  background: #494949;
    //  color: #ddd;
    //  padding: 15px;
    //  border-radius: 15px;
    //  font-size: 15px;
    //  margin: 0 20px 10px 20px;
    //}

    blockquote {
      margin: 10px 20px;
      padding: 15px 20px;
      background-color: #f1f2f3;
      border-left: 5px solid #ccc;
      color: #666;
      font-style: italic;
    }

    ul, ol {
      margin-left: 1em;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
      width: 92%;
      margin: 0 auto;
    }
    img {
      text-indent: 0 !important;
      max-width: 100% !important;
    }
  }
}

.BraftEditor-content {
  height: 500px;

  &::-webkit-scrollbar
  {
    width:8px;
    height:8px;
    background-color:#F5F5F5;
  }
  /*定义滚动条轨道
   内阴影+圆角*/
  &::-webkit-scrollbar-track
  {
    //-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#f5f5f5;
  }
  /*定义滑块
   内阴影+圆角*/
  &::-webkit-scrollbar-thumb
  {
    border-radius:10px;
    background-color:#ccc;
  }

  .braft-embed-image {
    text-indent: 0 !important;
  }

  //pre {
  //  background: #494949 !important;
  //  color: #ddd !important;
  //  padding: 15px !important;
  //  border-radius: 10px !important;
  //  font-size: 15px !important;
  //  margin-bottom: 10px !important;
  //  //font-family: Consolas, Menlo, Courier, monospace;
  //}

  //.bff-left+div, .bff-right+div {
  //  height: 0;
  //}

  blockquote {
    margin: 10px 20px !important;
  }

  img {
    max-width: 100% !important;
  }
}
.DraftEditor-editorContainer .public-DraftEditor-content >div {
  //.public-DraftStyleDefault-pre {
  //  margin-left: 20px;
  //  margin-right: 20px;
  //  background: #494949 !important;
  //  color: #ddd !important;
  //  padding: 15px !important;
  //  border-radius: 10px !important;
  //  font-size: 15px !important;
  //  margin-bottom: 10px !important;
  //}

  .bf-hr {
    width: 92%;
    margin: auto;
  }
  .public-DraftStyleDefault-ltr {}

  .bff-left+div, .bff-right+div {
    height: 0;
  }

  a {
    color: #1890ff !important;
  }
}


.comment-box {
  .input-comment-container, .comment-item {
    width: 100%;
    .comment-avatar {
      width: 50px;
      height: 50px;
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid #999;

      &.no-avatar {
        background: rgba(24, 144, 255, 0.7);
        border-color: transparent;
        color: white;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
      }
    }

    .comment-input-area {
      display: inline-block;
      width: calc(100% - 200px);
      margin-left: 20px;
    }

    .comment-btn {
      height: 70px;
      margin-left: 10px;
      font-weight: 900;
      width: 70px;
    }
  }

  .comment-list {
    margin-top: 20px;
    border-top: 1px solid #eaeaea;

    .comment-item {
      border-bottom: 1px solid #eaeaea;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;

      .comment-content {
        display: inline-block;
        width: calc(100% - 200px);
        vertical-align: top;
        word-break: break-all;

        .comment-operation {
          position: absolute;
          bottom: 10px;
          right: 15px;
        }
      }
    }
  }
}

.article-content .image-wrap img{
  display: block; /*用于消除图片默认的下边距，或者用line-height:0;也行*/
}
.article-content .image-wrap + p:empty{
  display: none;
}
.bff-left:hover{
  z-index: 2;
}
