.article-edit {
  .title-input {
    width: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .article-icon {
    font-size: 20px;
    color: #666;
    margin-left: 10px;
    cursor: pointer;
  }
}

.article-content {
  word-break: break-all;
}

.article-detail {
  .article-title {
    display: inline-block;
    max-width: 500px;
    overflow-x: hidden;
    vertical-align: top;
    margin-right: 30px;
  }
  .article-info {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
  }
  .article-content-box {
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin: 20px 0;
    min-height: 450px;
    overflow: hidden;

    a {
      color: #1890ff;
    }

    p {
      min-height: 20px;
      text-indent: 2em !important;
    }

    pre {
      background: #494949;
      color: #ddd;
      padding: 15px;
      border-radius: 15px;
      font-size: 15px;
      margin: 0 20px 10px 20px;
    }

    blockquote {
      margin: 10px 20px;
      padding: 15px 20px;
      background-color: #f1f2f3;
      border-left: 5px solid #ccc;
      color: #666;
      font-style: italic;
    }

    ul, ol {
      list-style-type: disc !important;
      margin-left: calc(20px + 2em);
      margin-top: 5px;
      margin-bottom: 5px;
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
      width: 92%;
      margin: 0 auto;
    }
    img {
      text-indent: 0 !important;
      max-width: 100% !important;
    }
  }
}

.BraftEditor-content {
  height: auto !important;
  min-height: 500px;
  overflow: hidden;

  .braft-embed-image {
    text-indent: 0 !important;
  }

  pre {
    background: #494949 !important;
    color: #ddd !important;
    padding: 15px !important;
    border-radius: 15px !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    font-family: Consolas, Menlo, Courier, monospace;
  }

  blockquote {
    margin: 10px 20px !important;
  }

  img {
    max-width: 100% !important;
  }
}
.DraftEditor-editorContainer .public-DraftEditor-content >div {
  pre {
    margin-left: 20px;
    margin-right: 20px;
  }

  ul, ol {
    margin-left: 20px;
  }

  >div {
    .public-DraftStyleDefault-block {
      text-indent: 2em !important;
    }
  }
}
