.aa-list {
  margin-top: 20px;
  .aa-list-item {
    width: 570px;
    height: 35px;
    transition: 0.5s;
    line-height: 35px;
    background: white;
    padding: 0 20px;

    &:hover {
      background: #efe8ff;

      .delete-btn {
        opacity: 1;
      }
    }
    > div {
      vertical-align: middle;
    }

    .aa-list-item-title {
      width: 250px;
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
    }

    .delete-btn {
      margin-left: 15px;
      opacity: 0;
      cursor: pointer;
      display: inline-block;
      transition: 0.3s;
      vertical-align: top;
    }

    .aa-list-item-user {
      display: inline-block;
      text-align: right;
      vertical-align: top;
      width: 250px;
    }
  }
}

.record-container {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 500px;
  overflow-x: auto;
  white-space: nowrap;
  word-break: break-all;

  .record-item {
    min-width: 395px;
    min-height: 500px;
    display: inline-block;
    padding: 20px;
    vertical-align: top;

    hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 10px 0;
    }

    .record-name {
      font-size: 16px;
      font-weight: 900;
      color: #666;
      margin-bottom: 5px;
      white-space: normal;

      .transfer-btn {
        display: inline-block;
        color: #1890ff;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
      }
    }

    .record-total {
      font-size: 16px;
      .record-right {
        color: #1890ff;
      }
    }

    .record-right {
      display: inline-block;
      width: 37%;
      text-align: right;
      font-weight: 900;
      vertical-align: top;
      white-space: normal;
      line-height: 25px;
    }
    .record-left {
      line-height: 25px;
      display: inline-block;
      width: 62%;
      vertical-align: top;
      white-space: normal;

      .del-btn {
        color: #F23C3C;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  /*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar
  {
    width:8px;
    height:8px;
    background-color:#F5F5F5;
  }
  /*定义滚动条轨道
   内阴影+圆角*/
  &::-webkit-scrollbar-track
  {
    //-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#f5f5f5;
  }
  /*定义滑块
   内阴影+圆角*/
  &::-webkit-scrollbar-thumb
  {
    border-radius:10px;
    background-color:#ccc;
  }
}
